#!/bin/bash
repo_root=$(dirname $(realpath "$0") | rev | cut -c5- | rev)
export PATH=$repo_root/bin:$PATH
case $SHELL in
     /bin/zsh)
         eval $(bucc env)
     ;;
     /bin/bash)
        source <(bucc env)
esac

    
    
