#TODO: not working yet
director_name: Bosh GCP Director
gcp_credentials_json: ...
project_id:

zone: us-east-1b
default_key_name: bosh
default_security_groups: [bosh]

tags:
outbound_network_name: ..
network: ...
subnetwork: subnet-...

internal_cidr: 10.0.0.0/24
internal_gw: 10.0.0.1
internal_ip: 10.0.0.6
