director_name:
auth_url:
az:
default_key_name:
default_security_groups:
internal_cidr:
internal_gw:
internal_ip:
net_id:
openstack_domain:
openstack_password:
openstack_project:
openstack_username:
private_key:
region:
