director_name: # bosh
auth_url:
az:
instance_type: m1.xlarge
default_key_name:
default_security_groups:
internal_cidr: # 10.0.0.0/24
internal_gw: # 10.0.0.1
internal_ip: # 10.0.0.6
net_id:
openstack_domain:
openstack_password:
openstack_project:
openstack_username:
private_key:
region:

# flag: --dns
dns: # [ 8.8.4.4 ]

# flag: --ntp
ntp: # [ 0.pool.ntp.org, 1.pool.ntp.org ]

# flag: --keystone-v2
openstack_tenant:

# flag: --custom-ca
openstack_ca_cert: # |

# flag: --trusted-certs
openstack_ca_cert: # |

# flag: --disk-az
openstack_disk_az:

# flag: --root-disk-size
root_disk_size:
