director_name: # bucc
# alias: bucc
access_key_id: ...
secret_access_key: ...
region: us-east-1
az: us-east-1b
subnet_id: subnet-...
internal_cidr: 10.0.0.0/24
internal_gw: 10.0.0.1
internal_ip: 10.0.0.6
default_security_groups: [bosh]
default_key_name: bosh
private_key:

instance_type:  m4.xlarge
ephemeral_disk_size: 25_000

# flag: --spot-instance
spot_bid_price: # Bid price in dollars for AWS spot instance

# flag: --security-groups
security_groups:

# flag: --lb-target-groups
lb_target_groups:
