director_name: Bosh AWS Director
access_key_id: ...
secret_access_key: ...
region: us-east-1
az: us-east-1b
subnet_id: subnet-...
internal_cidr: 10.0.0.0/24
internal_gw: 10.0.0.1
internal_ip: 10.0.0.6
default_security_groups: [bosh]
default_key_name: bosh
private_key:

instance_type:  m4.xlarge
ephemeral_disk_size: 25_000
