director_name: # bucc
# alias: bucc
internal_cidr: # 10.0.0.0/24
internal_gw: # 10.0.0.1
internal_ip: # 10.0.0.6
network_name: # VM Network
vcenter_cluster: # cluster1
vcenter_dc: # my-dc
vcenter_disks: # bosh-1-disks
vcenter_ds: # datastore0
vcenter_ip: # 192.168.0.10
vcenter_password: # vmware
vcenter_templates: # bosh-1-templates
vcenter_user: # root
vcenter_vms: # bosh-1-vms
vcenter_vm_cpu: 4
vcenter_vm_disk: 50000
vcenter_vm_ram: 16640

# flag: --dns
vcenter_dns: # [ 8.8.4.4 ]

# flag: --resource-pool
vcenter_rp: # my-bosh-rp

# flag: --concourse-lb
concourse_domain: # ci.foo.com
