director_name:
internal_cidr:
internal_gw:
internal_ip:
network_name:
vcenter_cluster:
vcenter_dc:
vcenter_disks:
vcenter_dns:
vcenter_ds:
vcenter_ip:
vcenter_password:
vcenter_rp:
vcenter_templates:
vcenter_user:
vcenter_vms:
