director_name: # bucc
# alias: bucc
docker_host: tcp://IP:2376
internal_cidr:
internal_gw:
internal_ip:
network:
docker_tls:
  ca: |
    -----BEGIN CERTIFICATE-----
  certificate: |
    -----BEGIN CERTIFICATE-----
  private_key: |
    -----BEGIN RSA PRIVATE KEY-----

# host-bind-concourse
host_ip: change me
concourse_host_port: 443
uaa_host_port: 8443
