director_name:
stemcell: bosh-azure-hyperv-ubuntu-trusty-go_agent
client_id:
client_secret:
default_security_group:
internal_cidr:
internal_gw:
internal_ip:
resource_group_name:
storage_account_name:
subnet_name:
subscription_id:
tenant_id:
vnet_name:
