director_name: # bosh
stemcell: bosh-softlayer-xen-ubuntu-trusty-go_agent
internal_cidr: # 10.0.0.0/24
internal_gw: # 10.0.0.1
internal_ip: # 10.0.0.6
sl_vm_domain:
sl_vm_name_prefix:
sl_datacenter:
sl_vlan_public:
sl_vlan_private:
sl_username:
sl_api_key:
