director_name: bucc
# alias: bucc
internal_cidr: 192.168.50.0/24
internal_gw: 192.168.50.1
internal_ip: 192.168.50.6
outbound_network_name: NatNetwork
vm_cpus: 2
vm_memory: 4096
vm_ephemeral_disk: 25_000

# flag: --remote
vbox_host:
vbox_username:
vbox_ssh_private_key:
